@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    background-color:rgb(254, 254, 255);
}

/* headings and logo */

header {
    height: 10em;
    background-color: black;
    width: 100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
}

#logo {
    float: left;
    margin-left: 10vh;
    font-size: 170%;
    margin-top: 7vh;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    line-height: 8em;
    width: 100%
}

#menu li {
    float: right;
    margin-right: 4em;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    border-bottom: 1px solid white;
    color: rgb(245, 73, 6)
}

.active {
    border-bottom: 1px solid white;
}


/* Images */

#dublin-vista-outer {
    width: 100%;
    height: 28em;
    overflow: hidden;
}


#dublin-vista {
    height: 28em;
    width: 100%;
    background: url('../images/dublin-penny.webp') no-repeat center center;
    
    /* Animates zoom on page */

    animation-name: vista-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    overflow: hidden;
    background-size: cover;
}

.vista-heading {
    color: white;
    text-align: center;
    font-size: 8vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* creates a level of zoom in image */

@keyframes vista-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}



/* About Dublin City Walks */

.dublin-welcome {
    text-align: center;
    color: rgb(245, 73, 6);
    padding-top: 2em;
    padding-bottom: 1em;
    height: 1px;
    font-size: 140%;
}


.parent {
    height: 14em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 2em;
    padding-top: 3em;
}

.parent p {
    display: flex;
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.child1 {
    display: flex;
    width: 30%;
    height: 30%;
}

.child2 {
    display: flex;
    width: 30%;
    height: 30%;  
}

.child3 {
    display: flex;
    width: 30%;
    height: 30%;
}


.dublin-image {
    height: 17em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 6em;
}

.image1 {
    width: 17em;
    height: 17em;
    background: url('../images/custom-house.jpeg') no-repeat center center;
    border-radius: 50%;
    background-size: cover;
}

.image2 {
    width: 17em;
    height: 17em;
    background: url('../images/dublin-convention.jpg') no-repeat center center;
    border-radius: 20%;
    background-size: cover;
}

.image3 {
    width: 17em;
    height: 17em;
    background: url('../images/trinity.jpeg') no-repeat center center;
    border-radius: 50%;
    background-size: cover;
}

.image4 {
    width: 17em;
    height: 17em;
    background: url('../images/dublin-temple-image.jpg') no-repeat center center;
    border-radius: 20%;
    background-size: cover;
}


/* Footer Content */

footer  {
    height: 10em;
    background-color: black;
    font-family: roboto;
    color: white;
    padding-top: 40px;
    position: sticky;
}


.footer-bottom {
    text-align: center;
}


.footer-bottom > p {
    padding-top: 30px;
}


.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}


.footer-content h4 {
    color: white;
    font-size: 130%;
}

/* Social Links as part of Footer*/

.social-links {
    color: white;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 3vh;
    padding-bottom: 3vh;
    padding-top: 2vh;
}


.social-links a {
    text-decoration: none;
    color: white;
    font-size: 160%;
}


.social-links a:hover {
    color: rgb(245, 73, 6);
    transition: color 1s ease;
}

/* Walks Page Image */


.best-walks {
    background: url('../images/poolbeg.jpg') no-repeat center center;
    height: 400px;
    width: 100%;
    background-size: cover;
}

/* Gallery */

#photos {
    clear: right;
    line-height: 1;
    column-count: 4;
    column-gap: 1;
    row-gap: 1;
    background: rgb(254, 254, 255);
}

#photos > img {
    width: 100%;
}


/* Contact Page */

.contact-form {
    height: 75vh;
    width: 100%;
    background: url('../images/dublin-howth.jpg') no-repeat center center;
    background-size: cover;
}

.contact-us {
    margin: 7vh 7vh 5vh 5vh;
    color: #fff;
    background: rgb(245, 73, 6);
    opacity: 1;
    float: right;
    padding: 15px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 4vh;
    margin: 2vh 0 2vh 0;
    border: 1.5px solid #fafafa;
    border-radius: 1vh;
}

.contact-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}











@media screen and (max-width: 1200px) {

    .dublin-image {
        height: 19em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 6em;
    }
    
    .image1 {
        width: 15em;
        height: 19em;
        background: url('../images/custom-house.jpeg') no-repeat center center;
        border-radius: 50%;
        background-size: cover;
    }
    
    .image2 {
        width: 15em;
        height: 19em;
        background: url('../images/dublin-convention.jpg') no-repeat center center;
        border-radius: 20%;
        background-size: cover;
    }
    
    .image3 {
        width: 15em;
        height: 19em;
        background: url('../images/trinity.jpeg') no-repeat center center;
        border-radius: 50%;
        background-size: cover;
    }
    
    .image4 {
        width: 15em;
        height: 19em;
        background: url('../images/dublin-temple-image.jpg') no-repeat center center;
        border-radius: 20%;
        background-size: cover;
    }
}







@media screen and (max-width: 950px) {

    header {
        height: 12em;
        background-color: black;
        width: 100%;
     }

    #menu {
        float: right;
        margin-left: 2em;
        line-height: 4em;
        margin: auto;
    } 

    .dublin-image {
        height: 10em;
        justify-content: space-evenly;
        padding-bottom: 4em;
        padding-top: 6em;
    }
    
    .image1 {
        width: 10em;
        height: 12em;
        background: url('../images/custom-house.jpeg') no-repeat center center;
        border-radius: 50%;
        background-size: cover;
    }
    
    .image2 {
        width: 10em;
        height: 12em;
        background: url('../images/dublin-convention.jpg') no-repeat center center;
        border-radius: 20%;
        background-size: cover;
    }
    
    .image3 {
        width: 10em;
        height: 12em;
        background: url('../images/trinity.jpeg') no-repeat center center;
        border-radius: 50%;
        background-size: cover;
    }
    
    .image4 {
        width: 10em;
        height: 12em;
        background: url('../images/dublin-temple-image.jpg') no-repeat center center;
        border-radius: 20%;
        background-size: cover;
    }  
    }
    



@media screen and (max-width: 620px) {
    
    header {
        height: 10em;
        background-color: black;
        width: 100%;
     }
     
     #menu {
        font-size: 8px;
        width: 100%;

    } 

    .dublin-image {
        height: 10em;
        justify-content: space-evenly;
        padding-bottom: 3em;
        padding-top: 6em;
        padding-right: 1em;
        padding-left: 1em;
    }
    
    .image1 {
        width: 8em;
        height: 8em;
        background: url('../images/custom-house.jpeg') no-repeat center center;
        border-radius: 50%;
        background-size: cover;
    }
    
    .image2 {
        width: 8em;
        height: 8em;
        background: url('../images/dublin-convention.jpg') no-repeat center center;
        border-radius: 20%;
        background-size: cover;
    }
    
    .image3 {
        width: 8em;
        height: 8em;
        background: url('../images/trinity.jpeg') no-repeat center center;
        border-radius: 50%;
        background-size: cover;
    }
    
    .image4 {
        width: 8em;
        height: 8em;
        background: url('../images/dublin-temple-image.jpg') no-repeat center center;
        border-radius: 20%;
        background-size: cover;
    } 


.parent {
    padding-right: 2em;
    padding-top: 2vh;
}

.parent p {
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d0d0d; 

}


}








