@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: roboto;
    font-weight: 200;
    background-color: #fafafa;
    font-size: 15px;
    margin: auto;
}

/* headings and logo */

header {
    height: 100px;
    background-color: black;
    margin: auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
}

#logo {
    float: left;
    margin-left: 20px;
    font-size: 150%;
    margin-top: 30px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    line-height: 80px;
}

#menu li {
    float: right;
    margin-right: 70px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    border-bottom: 1px solid white;
    color: rgb(245, 73, 6)
}

.active {
    border-bottom: 1px solid white;
}


/* Images */

#dublin-vista-outer {
    width: 100%;
    height: 430px;
    overflow: hidden;
}


#dublin-vista {
    height: 430px;
    background: url('../images/dublin-bridge.jpeg') no-repeat center center;
    animation-name: vista-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

/* creates a level of zoom in image */

@keyframes vista-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}


#dublin-vista-text h2 {
    color: white;
    text-align: center;
    padding: 35px 35px 35px 35px;
}


#dublin-vista-text {
    font-family: 'Source Sans Pro';    
    font-size: 115%;
    text-transform: uppercase;

    width: 190px;
    height: 190px;
    bottom: 30px;
    right: 30px;
    position: absolute;
    margin-right: 30px;
    background-color: rgb(84, 99, 141);
    border-radius: 50%;
    opacity: .6;
}

/* About Dublin City Walks */

.dublin-welcome {
    text-align: center;
    color: red;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 20px;
    font-size: 25px;
}


.parent {
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 30px;
    padding-top: 30px;
}

.parent p {
    font-size: 16px;
    color: black;
}

.child1 {
    display: flex;
    width: 300px;
    height: 300px;
}

.child2 {
    display: flex;
    width: 300px;
    height: 300px;  
}

.child3 {
    display: flex;
    width: 300px;
    height: 300px;
}


.dublin-image {
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.image1 {
    width: 275px;
    height: 275px;
    background: url('../images/custom-house.jpeg') no-repeat center center;
    border-radius: 50%;
}

.image2 {
    width: 275px;
    height: 275px;
    background: url('../images/trinity.jpeg') no-repeat center center;
    border-radius: 50%;
}

.image3 {
    width: 275px;
    height: 275px;
    background: url('../images/gcd.jpeg') no-repeat center center;
    border-radius: 50%;
}

.image4 {
    width: 275px;
    height: 275px;
    background: url('../images/dublin-temple.jpeg') no-repeat center center;
    border-radius: 50%;
}


/* Footer Content */

footer  {
    height: 160px;
    background-color: black;
    font-family: roboto;
    color: white;
    padding-top: 40px;
}


.footer-bottom {
    text-align: center;
}


.footer-bottom > p {
    padding-top: 30px;
}


.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}


.footer-content h4 {
    color: white;
    font-size: 20px;
}

/* Social Links as part of Footer*/

.social-links {
    color: white;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 30px;
    padding-bottom: 10px;
    padding-top: 20px;
}


.social-links a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}


.social-links a:hover {
    color: rgb(245, 73, 6);
    transition: color 1s ease;
}



