@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: roboto;
    font-weight: 200;
    background-color:rgb(210, 213, 223);
}

/* headings and logo */

header {
    height: 10em;
    background-color: black;
    width: 100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
}

#logo {
    float: left;
    margin-left: 10vh;
    font-size: 150%;
    margin-top: 8vh;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    line-height: 8em;
    width: 100%
}

#menu li {
    float: right;
    margin-right: 4em;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    border-bottom: 1px solid white;
    color: rgb(245, 73, 6)
}

.active {
    border-bottom: 1px solid white;
}


/* Images */

#dublin-vista-outer {
    width: 100%;
    height: 28em;
    overflow: hidden;
}


#dublin-vista {
    height: 28em;
    width: 100%;
    background: url('../images/dublin-bridge.jpeg') no-repeat center center;
    
    /* Animates zoom on page */

    animation-name: vista-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

/* creates a level of zoom in image */

@keyframes vista-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}


#dublin-vista-text h2 {
    color: white;
    text-align: center;
    padding: 5vh 5vh 5vh 5vh;
}


#dublin-vista-text {
    font-family: 'Source Sans Pro';    
    font-size: 115%;
    text-transform: uppercase;

    width: 25vh;
    height: 25vh;
    bottom: 4vh;
    right: 4vh;
    position: absolute;
    margin-right: 3vh;
    background-color: rgb(84, 99, 141);
    border-radius: 50%;
    opacity: .6;
}

/* About Dublin City Walks */

.dublin-welcome {
    text-align: center;
    color: red;
    padding-top: 2em;
    padding-bottom: 1em;
    height: 1em;
    font-size: 140%;
}


.parent {
    height: 14em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 2em;
    padding-top: 3em;
}

.parent p {
    font-size: 110%;
    color: black;
}

.child1 {
    display: flex;
    width: 30%;
    height: 30%;
}

.child2 {
    display: flex;
    width: 30%;
    height: 30%;  
}

.child3 {
    display: flex;
    width: 30%;
    height: 30%;
}


.dublin-image {
    height: 14em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 6em;
}

.image1 {
    width: 19em;
    height: 19em;
    background: url('../images/custom-house.jpeg') no-repeat center center;
    border-radius: 50%;
}

.image2 {
    width: 19em;
    height: 19em;
    background: url('../images/trinity.jpeg') no-repeat center center;
    border-radius: 50%;
}

.image3 {
    width: 19em;
    height: 19em;
    background: url('../images/gcd.jpeg') no-repeat center center;
    border-radius: 50%;
}

.image4 {
    width: 19em;
    height: 19em;
    background: url('../images/dublin-temple.jpeg') no-repeat center center;
    border-radius: 50%;
}


/* Footer Content */

footer  {
    height: 10em;
    background-color: black;
    font-family: roboto;
    color: white;
    padding-top: 40px;
    position: sticky;
}


.footer-bottom {
    text-align: center;
}


.footer-bottom > p {
    padding-top: 30px;
}


.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}


.footer-content h4 {
    color: white;
    font-size: 130%;
}

/* Social Links as part of Footer*/

.social-links {
    color: white;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 3vh;
    padding-bottom: 3vh;
    padding-top: 2vh;
}


.social-links a {
    text-decoration: none;
    color: white;
    font-size: 160%;
}


.social-links a:hover {
    color: rgb(245, 73, 6);
    transition: color 1s ease;
}

/* Walks Page Image */


.best-walks {
    background: url('../images/poolbeg.jpg') no-repeat center center;
    height: 400px;
    width: 100%;
}








@media all and (max-width: 600px) {

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: roboto;
    font-weight: 200;
    background-color: rgb(210, 213, 223);
}

/* Headings and Logo */

header {
    height: 4em;
    background-color: black;
    width: 100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 50%;
    margin-top: 3vh;
    margin-left: 1em;
}

/* Navigation links */

#menu {
    font-size: 40%;
    letter-spacing: 1px;
    line-height: 8em;
    width: 100%;
}

#menu li {
    float: right;
    margin-right: 6em;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    border-bottom: 1px solid white;
    color: rgb(245, 73, 6)
}

.active {
    border-bottom: 1px solid white;
}

/* Images */

#dublin-vista-outer {
    width: 100%;
    height: 12em;
    overflow: hidden;
}


#dublin-vista {
    height: 12em;
    width: 100%;
    background: url('../images/dublin-bridge.jpeg') no-repeat center center;

/* Animates zoom on page */

    animation-name: vista-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

#dublin-vista-text h2 {
    color: white;
    text-align: center;
    padding: 2vh 2vh 2vh 2vh;
}


#dublin-vista-text {
    font-family: 'Source Sans Pro';    
    font-size: 25%;
    text-transform: uppercase;

    width: 8vh;
    height: 8vh;
    bottom: 3vh;
    right: 4vh;
    position: absolute;
    margin-right: 3vh;
    background-color: rgb(84, 99, 141);
    border-radius: 50%;
    opacity: .6;
}

/* Creates a level of zoom in image */

@keyframes vista-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

/* About Dublin City Walks */

.dublin-welcome {
    text-align: center;
    color: red;
    padding-top: 2em;
    height: 1em;
    font-size: 60%;
}

.parent {
    height: 22vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 1em;
    padding-top: 2em;
}

.parent p {
    font-size: 50%;
    color: black;
}

.child1 {
    display: flex;
    width: 20%;
    height: 20%;
}

.child2 {
    display: flex;
    width: 20%;
    height: 20%;  
}

.child3 {
    display: flex;
    width: 20%;
    height: 20%;
}

.dublin-image {
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2em;
}


.image1 {
    width: 7em;
    height: 7em;
    background: url('../images/custom-house.jpeg') no-repeat center center;
    border-radius: 50%;
}

.image2 {
    width: 7em;
    height: 7em;
    background: url('../images/trinity.jpeg') no-repeat center center;
    border-radius: 50%;
}

.image3 {
    width: 7em;
    height: 7em;
    background: url('../images/gcd.jpeg') no-repeat center center;
    border-radius: 50%;
}

.image4 {
    width: 7em;
    height: 7em;
    background: url('../images/dublin-temple.jpeg') no-repeat center center;
    border-radius: 50%;
}

footer  {
    height: 20vh;
    width: 100%;
    background-color: black;
    font-family: roboto;
    color: white;
    padding-top: 1em; 
    position: sticky;  
}

.footer-bottom {
    text-align: center;
}

.footer-bottom > p {
    padding: 1em;
    font-size: 50%
}

.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.footer-content h4 {
    color: white;
    font-size: 120%;
}

/* Social Links as part of Footer */

.social-links {
    color: white;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 1vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

.social-links a {
    text-decoration: none;
    color: white;
    font-size: 80%;
}

.social-links a:hover {
    color: rgb(245, 73, 6);
    transition: color 1s ease;
}

section, .dublin-image {
    min-height: calc(20vh - 9vh);
}

/* Walks Page Image */

.best-walks {
    background: url('../images/poolbeg.jpg') no-repeat center center;
    height: 400px;
    width: 100%;
}
}








